$border-color: #eef1fa;
$card-bg: #f8f9fb;
$text-3-color: #70798c;
$brand-1-color : #2354e6;
$button-text-color: #ffffff;
$icon-color: #b8bfcc;
$icon-hover-color: #1b41b2;

.kriptoYasam {
    .all_cards {
        .card {
            border-radius: 8px;
            border: 1px solid $border-color;
            background-color: $card-bg;
            margin-bottom: 24px;

            .video {
                video {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                -webkit-box-pack: start;
                justify-content: flex-start;
                position: relative;

                .button {
                    display: none;
                    margin-top: 24px;

                    button {
                        background-color: $brand-1-color;
                        font-weight: 600;
                        color: $button-text-color;
                    }
                }

                .info_header {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;

                    .head {
                        font-weight: 600;
                        font-size: 20px;
                        padding: 0;
                    }
                }

                .info_body {
                    margin-top: 8px;
                    color: $text-3-color;
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        }
    }
}

.topluluk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 12px 16px;
    box-sizing: border-box;
    background-color: $card-bg;
    border-radius: 8px;
    border: $border-color;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 16px;

    .carousel {
        width: 65%;

        .main_card {
            .card {
                min-height: 100%;
                background-color: $button-text-color;
                display: flex;
                flex-direction: column;
                -webkit-box-align: center;
                align-items: center;
                box-sizing: border-box;
                padding: 36px 24px 33px;
                border-radius: 8px;
                height: 328px;

                .user_info {
                    font-size: 16px;
                    margin-top: 16px;
                    margin-bottom: 24px;
                    color: $text-3-color;
                }

                .user_comment {
                    width: 100%;
                    overflow: hidden;
                    word-break: break-word;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }

    .social {
        display: flex;
        position: relative;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 0px;

        .social_bot {
            display: flex;
            margin-top: 40px;
            flex-direction: column;

            .icons {
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                font-size: 28px;
                color: $icon-color;
                cursor: pointer;

                .icon {
                    &:hover {
                        color: $icon-hover-color;
                    }
                }
            }

            button {
                background-color: $brand-1-color;
                font-weight: 600;
                color: $button-text-color;
                width: 100%;
                margin-top: 40px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .kriptoYasam {
        margin-bottom: 32px;
        margin-top: 120px;

        .all_cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;

            .card {
                .info {
                    padding: 24px;

                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .kriptoYasam {
        .all_cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;

            .card {
                display: flex;
                flex-direction: row;

                .video {
                    width: 304px;
                }

                .info {
                    -webkit-box-pack: center;
                    justify-content: center;
                    padding: 0px 24px;
                    flex: 1 1 0%;

                    .button {
                        display: block;

                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .topluluk {
        .social {
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .topluluk {
        .carousel {
            width: 100%;
        }

        .social {
            width: 100%;

            .social_image {
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .kriptoYasam {
        h2 {
            font-size: 24px;
        }
    }
}