$text-1-color: #262933;
body {
  box-sizing: border-box;
    margin: 0px;
    color: $text-1-color !important;
    font-size: 14px;
    font-family: Gate_Sans, Arial, sans-serif;
    font-style: normal;
    font-synthesis: style;
    font-weight: 400;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
main {
  padding: 0 var(--layout-padding);
    max-width: 1200px;
    margin: 0px auto;
    box-sizing: border-box;
}
h2 {
  font-size: 40px;
  font-weight: 600;
}
@media screen and (max-width: 1920px) {
  :root {
    --layout-padding: 24px;
    --layout-maxWidth: 1248px;
}
}

.ant-drawer-header-title {
  flex-direction: row-reverse !important;
}
.ant-drawer-body {
  padding: 0 !important;
}
.ant-carousel {
  .slick-slider {
    .slick-dots {
      .slick-active {
        button {
          color: red !important;
        }
      }
      li {
        button {
          color: blue !important;
        }
      }
    }
  }
}
